
    .btn {
        @apply cursor-pointer
        inline-block ml-5 px-4 py-3 rounded-xl
        focus:ring-2 focus:ring-blue-900
        hover:translate-y-0.5
        uppercase tracking-wider
        font-semibold shadow-lg text-sm 
        transform transition;
    }

    .btnP {
        @apply 
        bg-primary
        hover:bg-blue-400 active:bg-blue-500
        text-bg-primary font-normal
    }

    .btnS {
        @apply 
        bg-gray-300
        hover:bg-gray-400 active:bg-gray-600 
        text-gray-800
    }




